<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h3 class="card-title">Notifications</h3>
                <p class="card-category">
                    <a target="_blank" href="">HII</a>. Please checkout the
                    <a href="" target="_blank">full documentation.</a>
                </p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="card-title">Notifications Style</h4>
                        <div class="alert alert-info">
                            
                        </div>
                        <div class="alert alert-info">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                
                            </button>
                            
                        </div>
                        <div class="alert alert-info alert-with-icon" data-notify="container">
                            <i class="material-icons" data-notify="icon">add_alert</i>
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                           
                        </div>
                        <div class="alert alert-info alert-with-icon" data-notify="container">
                            <i class="material-icons" data-notify="icon">add_alert</i>
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span data-notify="message"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="card-title">Notification states</h4>
                        <div class="alert alert-info">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>
                                <b> Info - </b>  ".alert-info"</span>
                        </div>
                        <div class="alert alert-success">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>
                                <b> Success - </b> ".alert-success"</span>
                        </div>
                        <div class="alert alert-warning">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>
                                <b> Warning - </b>  ".alert-warning"</span>
                        </div>
                        <div class="alert alert-danger">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>
                                <b> Danger - </b>  ".alert-danger"</span>
                        </div>
                        <div class="alert alert-primary">
                            <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>
                                <b> Primary - </b>  ".alert-primary"</span>
                        </div>
                    </div>
                </div>
            </div>
            
